    <footer>
        <p>© 2026 All Assets Made by Furkan Canturk.</p>
        <div class="social-icons">
            <a href="mailto:mindentertainmentco@gmail.com">
                <img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/gmail.svg" alt="Email">
            </a>
            <a href="https://www.linkedin.com/in/furkan-canturk-a456b4337/" target="_blank">
                <img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/linkedin.svg" alt="LinkedIn">
            </a>
            <a href="https://frkncx.itch.io" target="_blank">
                <img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/itchdotio.svg" alt="Itch.io">
            </a>
        </div>
    </footer>
